#stylingText {
	list-style-type: none;
	padding-left: 2px;
}
#stylingText li {
	display: inline-block;
	list-style: none;
}
.gras {
 background:url(../images/wysiwyg/gras.png) no-repeat;
	background-size: 24px 24px;
	width: 30px;
	height: 30px;
}
.souligne {
 background:url(../images/wysiwyg/souligne.png) no-repeat;
	background-size: 24px 24px;
	width: 30px;
	height: 30px;
}
.italique {
 background:url(../images/wysiwyg/italique.png) no-repeat;
	background-size: 24px 24px;
	width: 30px;
	height: 30px;
}
.barre {
 background:url(../images/wysiwyg/barre.png) no-repeat;
	background-size: 24px 24px;
	width: 30px;
	height: 30px;
}
.alignLeft {
 background:url(../images/wysiwyg/align-gauche.png) no-repeat;
	background-size: 24px 24px;
	width: 30px;
	height: 30px;
}
.alignRight {
 background:url(../images/wysiwyg/align-droite.png) no-repeat;
	background-size: 24px 24px;
	width: 30px;
	height: 30px;
}
.alignCenter {
 background:url(../images/wysiwyg/align-centre.png) no-repeat;
	background-size: 24px 24px;
	width: 30px;
	height: 30px;
}
.alignJustify {
 background:url(../images/wysiwyg/align-justifie.png) no-repeat;
	background-size: 24px 24px;
	width: 30px;
	height: 30px;
}